* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 25px 100px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    height: 100px;
    background-color: #E579E6;
    margin-bottom: 20px;
}

nav {
    height: 400px;
    background-color: #E1D67A;
    margin-bottom: 20px;
}

main {
    background-color: #0086FF;
    padding-bottom: 20px;
}

div, aside, section {
    background-color: #ABCFE7;
}

div {
    height: 80px;
    margin-bottom: 20px;
}

aside {
    width: 24%;
    height: 500px;
    float: left;
}

section {
    width: 50%;
    height: 500px;
    margin: 0 1%;
    float: left;
}

footer {
    height: 50px;
    background-color: #8800FD;
    margin-top: 10px;
}