/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 25px 100px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header, nav, div {
    margin-bottom: 20px;
}

aside, section {
    float: left;
    height: 500px;
}

/* debug */
header {
    height: 100px;
    background-color: #E579E6;
}

nav {
    height: 400px;
    background-color: #E1D67A;
}

main {
    padding-bottom: 20px;
    background-color: #0086FF;
}

div, aside, section {
    background-color: #ABCFE7;
}

div {
    height: 80px;
}

aside {
    width: 24%;
}

section {
    width: 50%; 
    margin: 0 1%;
}

footer {
    height: 50px;
    margin-top: 10px;
    background-color: #8800FD;
}